@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #B4CBDB;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; 

    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);

    transition: width .1s, height .1s;
    transition-timing-function: ease; 
}

section#login > div#imagem {
    display: block;
    background: #B4CBDB url(../imagens/tubarao-pequeno.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 220px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

#formulario h1 {
    text-align: center;
}

#formulario p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2em;
    font-size: 0.8em;
}

form > div.campo {
    height: 40px;
    background-color: #992EA6;
    border-radius: 5px;
    margin: 5px 0px;
}

form > div.campo > span {
    color: white;
    width: 30px;
    padding: 5px;
    font-size: 1.5em;
}

form > div.campo > input {
    height: 85%;
    width: calc(100% - 36px);
    border: none;
    border-radius: 3px;
    padding: 4px;
    font-size: 1em;
    transform: translateY(-6px);
}

form > div.campo > input[placeholder] {
    padding-bottom: 10px;
    padding-left: 5px;
}

form label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5F98B5;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

form > input[type=submit]:hover {
    background-color: #283033;
}

form > button {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0C486D;
    color: white;
    margin-top: 5px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;     
}

form > button:hover {
    background-color: #283033;
}

form > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #031430;
    color: white;
    margin-top: 5px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > a:hover {
    background-color: #283033;
}