@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2 {
    margin: 0px 0px 20px 10px;
    line-height: 1.2em;
}

p {
    padding: 0px 0px 10px 10px;
    text-align: justify;
}

header, section.normal {
    background-color: #BF3B3B;
    color: white;
    padding: 20px;
}

header h1 {
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.400);
}

section.flex-content {
    background-color: #eedfd8;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media { /*REVER ESSA CONFIGURAÇÃO*/
    flex: 1 0 400px;
}

div.media > img {
    display: block;
    margin: auto;
    width: 560px;
    padding: 25px;
}

div.media > iframe {
    display: block;
    margin: auto;
    padding: 25px;
}

footer {
    background-color: #3873A6;
    padding: 10px;
}

footer p {
    text-align: center;
    font-weight: bold;
}

footer > p > a {
    color: #6b0f0f;
}

@media screen and (max-width: 768px) {

    article.media-text {
    margin-bottom: 30px;
}
    
    div.media > img {
    display: block;
    width: 350px;
    margin: auto;
    padding: 25px;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;

}
}