@charset "UTF-8";

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 200px;
}

.caixa {
    text-align: center;
    border: 1px solid black;
}

#topo {
    background-color: lightgreen;
    grid-area: 1 / 1 / -4 / -1;
}

#menu {
    background-color: lightblue;
    grid-area: 2 / 1 / -3 / -1;
}

#principal {
    background-color: lightpink;
    grid-area: 3 / 1 / 4 / -2;
}

#secundario {
    background-color: lightgrey;
    grid-area: 3 / 2 / 4 / -1;
}

#rodape {
    background-color: lightsalmon;
    grid-area: 4 / 1 / -1 / -1;
}